<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jojo.design.module_core">

    <application>

        <activity android:name=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.test.TestMVPActivity"></activity>
        <activity android:name=".ui.test.TestDaggerActivity"></activity>
        <activity android:name=".ui.designer.ACT_DesignerList"></activity>
    </application>


</manifest>
