*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build
/captures
.externalNativeBuild
