<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jojo.design.module_discover">

    <application>
        <activity android:name=".ui.ACT_Category" />
        <activity android:name=".ui.ACT_CategoryDetail"></activity>
        <activity android:name=".ui.ACT_PlayVideo"></activity>
    </application>


</manifest>