<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jojo.design.module_discover">

    <!--在Module单独开发模式下使用该mainfest-->
    <application
        android:name="com.jojo.design.common_base.BaseAppliction"
        android:label="@string/app_name"
        android:theme="@style/BaseAppTheme">
        <activity
            android:name="com.jojo.design.module_discover.ui.ACT_CategoryDetail"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--给所有在ACT_PlayVideo上面的Activity指定android:configChanges="keyboardHidden|orientation"，
        防止ACT_PlayVideo切换横竖屏时声明周期重建，频繁请求网络刷新页面-->
        <!--        <activity-->
        <!--            android:name=".ui.ACT_CategoryDetail"-->
        <!--            android:configChanges="keyboardHidden|orientation"></activity>-->
        <activity
            android:name=".ui.video.ACT_PlayVideo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>